PORT= 8000
CORS_ORIGIN=*

MONGO_URI=mongodb+srv://pritamawatade5:<your-password>@cluster0.jqsu0.mongodb.net

ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET= SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_NAME= INSERT YOUR ACTUAL VALUES 
CLOUDINARY_API_KEY= INSERT YOUR ACTUAL VALUES 
CLOUDINARY_API_SECRET=Cn4PsmRgyAj-Zfx- INSERT YOUR ACTUAL VALUES 
